<main class="main">
    <div class="header">
        <div class="logo"></div>
        <a href="#categories"><button id="toggle-button" class="logotipo" aria-controls="categories" (click)="handleClick($event)" #toggleButton>IRIS</button></a>
        <div class="header__controls">

            <div class="search">
                <input id="search_bar" type="text" placeholder="Pesquisa">
                <button id="search_button">🔍</button>
            </div>
        </div>
    </div>

    <div id="categories" #categories>
        <div class="header">
            <div class="logo"></div>
            <a href="#categories"><button id="untoggle-button" class="logotipo" aria-controls="categories" (click)="handleClick($event)" #untoggleButton>IRIS</button></a>
        </div>
        
        <div id="categories_container" tabindex="-1" #categoriesContainer>
            
            <div class="category" style="background-color: #FFA500;" #category><span>Eletrônicos</span></div>
            <div class="category" style="background-color: #FF4500;" #category><span>Automotores</span></div>
            <div class="category" style="background-color: #C71585;" #category><span>Moda</span></div>
            <div class="category" style="background-color: #800080;" #category><span>Musicais</span></div>
            <div class="category" style="background-color: #00BFFF;" #category><span>Esportivos</span></div>
        </div>
    </div>


    <div class="results">
        <div class="ordenator">
            
        </div>

        <div class="products">
            <div class="product">
                <div class="product__images">
                    <img class="product__image" src="/i9.jpg" />
                </div>

                <div class="product__header">
                    <span class="product__title">PRODUTO DE TAL</span>
                    <span class="product__price">R$ TANTO</span>

                    <span class="product__location">fica aqui</span>
                </div>
            </div>

            <div class="product">
                <div class="product__images">
                    <img class="product__image" src="/i9.jpg" />
                </div>

                <div class="product__header">
                    <span class="product__title">PRODUTO DE TAL</span>
                    <span class="product__price">R$ TANTO</span>

                    <span class="product__location">fica aqui</span>
                </div>
            </div>

            <div class="product">
                <div class="product__images">
                    <img class="product__image" src="/i9.jpg" />
                </div>

                <div class="product__header">
                    <span class="product__title">PRODUTO DE TAL</span>
                    <span class="product__price">R$ TANTO</span>

                    <span class="product__location">fica aqui</span>
                </div>
            </div>

            <div class="product">
                <div class="product__images">
                    <img class="product__image" src="/i9.jpg" />
                </div>

                <div class="product__header">
                    <span class="product__title">PRODUTO DE TAL</span>
                    <span class="product__price">R$ TANTO</span>

                    <span class="product__location">fica aqui</span>
                </div>
            </div>

            <div class="product">
                <div class="product__images">
                    <img class="product__image" src="/i9.jpg" />
                </div>

                <div class="product__header">
                    <span class="product__title">PRODUTO DE TAL</span>
                    <span class="product__price">R$ TANTO</span>

                    <span class="product__location">fica aqui</span>
                </div>
            </div>

            <div class="product">
                <div class="product__images">
                    <img class="product__image" src="/i9.jpg" />
                </div>

                <div class="product__header">
                    <span class="product__title">PRODUTO DE TAL</span>
                    <span class="product__price">R$ TANTO</span>

                    <span class="product__location">fica aqui</span>
                </div>
            </div>

            <div class="product">
                <div class="product__images">
                    <img class="product__image" src="/i9.jpg" />
                </div>

                <div class="product__header">
                    <span class="product__title">PRODUTO DE TAL</span>
                    <span class="product__price">R$ TANTO</span>

                    <span class="product__location">fica aqui</span>
                </div>
            </div>

            <div class="product">
                <div class="product__images">
                    <img class="product__image" src="/i9.jpg" />
                </div>

                <div class="product__header">
                    <span class="product__title">PRODUTO DE TAL</span>
                    <span class="product__price">R$ TANTO</span>

                    <span class="product__location">fica aqui</span>
                </div>
            </div>

            <div class="product">
                <div class="product__images">
                    <img class="product__image" src="/i9.jpg" />
                </div>

                <div class="product__header">
                    <span class="product__title">PRODUTO DE TAL</span>
                    <span class="product__price">R$ TANTO</span>

                    <span class="product__location">fica aqui</span>
                </div>
            </div>

            <div class="product">
                <div class="product__images">
                    <img class="product__image" src="/i9.jpg" />
                </div>

                <div class="product__header">
                    <span class="product__title">PRODUTO DE TAL</span>
                    <span class="product__price">R$ TANTO</span>

                    <span class="product__location">fica aqui</span>
                </div>
            </div>
            <div class="product">
                <div class="product__images">
                    <img class="product__image" src="/i9.jpg" />
                </div>

                <div class="product__header">
                    <span class="product__title">PRODUTO DE TAL</span>
                    <span class="product__price">R$ TANTO</span>

                    <span class="product__location">fica aqui</span>
                </div>
            </div>
            <div class="product">
                <div class="product__images">
                    <img class="product__image" src="/i9.jpg" />
                </div>

                <div class="product__header">
                    <span class="product__title">PRODUTO DE TAL</span>
                    <span class="product__price">R$ TANTO</span>

                    <span class="product__location">fica aqui</span>
                </div>
            </div>
            <div class="product">
                <div class="product__images">
                    <img class="product__image" src="/i9.jpg" />
                </div>

                <div class="product__header">
                    <span class="product__title">PRODUTO DE TAL</span>
                    <span class="product__price">R$ TANTO</span>

                    <span class="product__location">fica aqui</span>
                </div>
            </div>
            <div class="product">
                <div class="product__images">
                    <img class="product__image" src="/i9.jpg" />
                </div>

                <div class="product__header">
                    <span class="product__title">PRODUTO DE TAL</span>
                    <span class="product__price">R$ TANTO</span>

                    <span class="product__location">fica aqui</span>
                </div>
            </div>
            <div class="product">
                <div class="product__images">
                    <img class="product__image" src="/i9.jpg" />
                </div>

                <div class="product__header">
                    <span class="product__title">PRODUTO DE TAL</span>
                    <span class="product__price">R$ TANTO</span>

                    <span class="product__location">fica aqui</span>
                </div>
            </div>

            
        </div>



        <div class="filters">
            <div class="filters__header">
                <span class="filters__title">Filtros</span>
                <button class="filters__clear">Limpar</button>
            </div>
    
            <div class="filters__container">
                <div class="filter">
                    <span>Preço</span>
                    <input type="range" min="0" max="1000" step="10" />
                </div>
    
                <div class="filter">
                    <span>Localização</span>
                    <input type="text" placeholder="Digite sua localização" />
                </div>
    
                <div class="filter">
                    <span>Categoria</span>
                    <select>
                        <option value="">Selecione uma categoria</option>
                        <option value="eletronicos">Eletrônicos</option>
                        <option value="automotores">Automotores</option>
                        <option value="moda">Moda</option>
                        <option value="musicais">Musicais</option>
                        <option value="esportivos">Esportivos</option>
                    </select>
                </div>
    
            </div>
        </div>
    </div>
</main>

<router-outlet></router-outlet>