html, body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;
    overflow: auto;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex; 
    flex-direction: column;
    flex: 1;

    max-width: 100vw;
    max-height: 100vh;

    transition: background-color 0.3s ease-in-out;
}

.main {
    display: flex;
    flex: 1 0 auto;

    flex-direction: column;

    padding: 0;
    margin: 0;

    max-height: 100%;
}

.header {
    background-color: #4CAF50;

    display: flex;
    align-items: center;

    flex: 1 0 auto;
    height: 6%;

    padding-left: 1em;
}

.logo {
    height: 24px;
    width: 24px;

    background-color: white;
    transform: rotateZ(45deg);

    margin-right: 1em;
}

.logotipo {
    color: white;
    font-size: 12pt;
}

.header__controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.toggle {
    background-color: transparent;

    position: relative;
    top: 0;
    left: 0;
    border: none;
    cursor: pointer;

    color: #f0f0f0;
}

#toggle-button {
    @extend .toggle;
}

#untoggle-button {
    @extend .toggle;
}

//#toggle-button:focus + #categories {
//    left: 0%; // Show categories when the button is focused
//}

.search {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
    
    flex: 1 0 auto;

    margin-left: 3em;
    margin-right: 3em;

    height: 2em;
}

#search_bar {
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.5);
    border-style: solid;
    border-radius: 8px 0px 0px 8px;

    background-color: #f0f0f05a;

    outline: none;
    color: white;
    font-size: 16px;
    flex: 1 0 auto;

    text-align: left;
    padding-left: 1em;
}

#search_bar::placeholder {
    color: #d8d8d8;
    opacity: 0.6;
}

#search_button {
    border-radius: 0px 8px 8px 0px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;

    width: 6em;
    height: 100%;
}


#categories {
    outline: none;
    position: absolute;
    left: -125%;
    top: 0%;
    transition: left 1s ease-in-out; // Add a transition to the element itself
    z-index: 1000; // Ensure the element is above other elements
    height: 100%;
    max-height: 100%;

    width: 10%;
    text-wrap: normal;
    

    display: flex;
    flex-direction: column;

    border: none;
}

#categories_container {
    outline: none;
    transition: left 1s ease-in-out; // Add a transition to the element itself
    height: 100%;
    max-height: 100%;

    border: none;

    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    flex-grow: 1;
    align-items: stretch;

    text-align: left;

    overflow-y: auto;
}

//#categories:focus {
//    left: 0%; // Move the element to the right when the popover is open
//}

.category {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 1em;

    color: white;
    flex: 3;
}

.results {
    display: flex;
    flex-direction: row;

    background-color: rgba(255, 255, 255, 0.9);

    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;

    justify-content: center;

    border-radius: 0.2em;
    margin: 0.4em;
    padding: 1em;

    gap: 0.8em;

    height: 100%;
    max-height: 100%;

    overflow: hidden;
}

.ordenator {
    background-color: #f0f0f0;

    display: flex;
    flex-direction: row;

    border-radius: 0.4em;

    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 20%;

    max-width: 60%;
    max-height: 100%;

    overflow-y: scroll; /* enable scrolling */
}

.products {
    display: flex;
    flex-direction: row;

    border-radius: 0.4em;

    align-items: center;

    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    flex-wrap: wrap; /* flex-wrap so at the end of the screen, creating a new row of products */
    gap: 0.8em;

    height: auto;

    max-width: 60%;
    max-height: 100%;

    overflow-y: scroll; /* enable scrolling */
}

.product {
    display: flex;
    flex-direction: column;
    flex: 1 1 25%;
    
    background-color: #f0f0f0;

    // padding: 0.5%;

    border-radius: 0.4em;

    height: 50%;
    width: 13%;
}

.product__images {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* no scrollbars */

    width: 100%;

    border-radius: 0.4em;
}

.product__image {
    display: flex;
    flex: 0 0 auto;

    width: 100%; 
    height: 100%;
    aspect-ratio: 1 / 1; /* makes a square out of the image */
    object-fit: cover; /* fill the container */
}

.product__header {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    flex-grow: 1;
    height: 40%;

    padding: 1em;
}

.product__title {
    color: gray;
    font-size: 10pt;
}

.product__price {
    color: black;
    font-size: 14pt;
}

.product__location {
    color: darkgray;
    font-size: 10pt;
}

.filters {
    background-color: #f0f0f0;

    display: flex;
    flex-direction: column;

    border-radius: 0.4em;

    justify-content: center;

    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;

    max-width: 60%;
    max-height: 100%;

    overflow-y: scroll; /* enable scrolling */
}